{% extends "KriSpiXVideothequeBundle::layout.html.twig" %}

{% block title %}
    {{ keyword.name }} - {{ parent() }}
{% endblock %}

{% block krispixvideotheque_body %}

    <h1>{{ keyword.name }} {{ include("KriSpiXVideothequeBundle:Movie:viewMode.html.twig") }}</h1>
    <hr/>    
    <div id="movies" class="row list-group">
        {% for movie in listMovies %}    
            {{ include("KriSpiXVideothequeBundle:Movie:thumb.html.twig") }}
        {% else %}
            <p>Pas (encore !) de films {{ keyword.name }}</p>
        {% endfor %}
    </div>

    {{ include("KriSpiXVideothequeBundle:Movie:pagination.html.twig") }}

{% endblock %}