{% extends "KriSpiXVideothequeBundle::layout.html.twig" %}

{% block title %}
    Recherche - {{ parent() }}
{% endblock %}

{% block krispixvideotheque_body %}

    <h1>Résultats pour "{{ searchTerm }}" {{ include("KriSpiXVideothequeBundle:Movie:viewMode.html.twig") }}</h1>
    <hr/>
    <div id="movies" class="row list-group">
      {% for movie in listMovies %}    
        {{ include("KriSpiXVideothequeBundle:Movie:thumb.html.twig") }}
      {% else %}
        <p>Aucun film ne correspond à votre recherche</p>
      {% endfor %}
    </div>

    {{ include("KriSpiXVideothequeBundle:Movie:pagination.html.twig") }}
    
{% endblock %}